PROJECT_ID = "Nome do projeto que você criou no BigQuery"

DATASET = "Nome do dataset que você criou no BigQuery"

TABLE = "Nome que você quer dar para a tabela que será criada no BigQuery"

TABLE_ID = f"{PROJECT_ID}.{DATASET}.{TABLE}"

CREDENTIALS_PATH = "Caminho para o arquivo JSON da chave de serviço do Google Cloud"